{% extends "ilabpro01FrontBundle:Default:baseMenuFront.html.twig" %}


{% block stylesheets %}
    <link href="{{ asset('bundles/ilabpro01backfotog/css/menu.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/encabezado.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/cuerpo.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block cuerpo %}
    
    <div id="contenedor_cuerpo">
    
    <div id="container">
<div id="wrapper">
    <div id="content">
        Hello front!
    </div>
</div>

</div>
        </div>
{% endblock %}