{% extends "ilabpro01FrontBundle:Default:baseMenuFront.html.twig" %}


{% block stylesheets %}
    <link href="{{ asset('bundles/ilabpro01backfotog/css/menu.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/encabezado.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ilabpro01backfotog/css/cuerpo.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block cuerpo %}
    
 
<div id="wrapper">
    <div id="content">
        <div id="contenedorCuerpo">
        
        <div id="contenidoCuerpo">
            
            <h2>Bienvenido Cliente</h2>

            <a href="{{ path('ilabpro01_front_homepage') }}">Volver</a>
            
        </div>
    
    </div>
    </div>
</div>
        
{% endblock %}
    

